*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
.just{
    justify-content: space-around;
}
.just1{
    justify-content: space-between;
}
.align{
    align-items: center;
}
ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
}
li{
    padding: 20px;
  
}
a{
    text-decoration: none;
}
nav{
    width: 100%;
    height: 15vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
}
.ok{
    background-color: #1A1A1A;
    width: 100px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    margin-right: 50px;
    

}
.ok:hover {
    transition: 0.5s;
    background-color: rgb(221, 214, 220);
    border: none;
}
.btn{
    width: 123px;
    height: 50px;
    background-color: #1A1A1A;
    color: #fff;
    

}
.btn:hover{
    transition: 0.8s;
    background-color: rgb(221, 214, 220);
    border: none;
}
.petit{
    background-color:#fff;
    width: 500px;
    position: absolute;
    font-size: 23px;
    height: 400px;
    left: 90px;
    
}
.titre1{
    margin-bottom: 38px;
    font-size: 60px;
}
.blog{
    height:90px ;
    width:700px ;
    background-color:#f5f5f570 ;
    position: absolute;
    left: 300px;
    bottom: -50px;
}
.sp2{
    display: flex;
    flex-direction: column;
}
.sp4{
    display: flex;
    flex-direction: column;
}
.sp6{
    display: flex;
    flex-direction: column; 
}
.small{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 25px;
}

.parent{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    margin-top: 50px;
}
/*une autre page a commencee*/

.parent1{
    width: 100%;
    height: 125vh;
    background-color: #FBF7F4;
}
.l01{
    height: 60px;
    width: 60px;
    border: solid 2px gray;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.l01 img{
    border-radius: 50px;

}
.im{
    margin-top: 30px;

}
.photo{
    background-color: #1A1A1A;
    height: 80px;
}



/*section nos meilleurs chambres*/


.icone{
    height: 20vh;
    width: 100%;
    justify-content: space-around;
    margin-top: 60px;
    
}
.bouton{
    width: 130px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1A1A1A ;
    margin-top: 80px;
    margin-left: 100px;
}
h3
{
    font-size: 10px;
}
.titre{
    height: 10vh;
    margin-top: 70px;

    
}
.para{
    width: 60%;
    color: rgb(88, 88, 88);

}
.mere{
    height: 70vh;
    margin-top: 80px;
}
.pere{
    height: 50vh;
    margin-top: 80px;
}

/* section nos services*/

section{
    height: 150vh;
    width: 100%;
}
.gradient{
    width: 150px;
    height: 90px;
    transform: rotate(-30deg);
    border-radius: 50px;
    opacity: .45;
    filter: blur(38px);
    background: rgb(255,248,90);
    background: radial-gradient(circle, rgb(90, 255, 255) 0%, rgba(0,194,255,1) 80%, rgba(255,2,169,0.9547991071428571) 100%);
    margin-top: 150px;
}
.colum{
    height: 30vh;
    width: 100%;
    margin-top: 40px;
}
.colum1{
    width: 250px;
    height: 120px;
    background-color: rgb(8, 8, 8);
    border: 2px solid gray;
}
.imag{
    margin-left: 100px;
    margin-top: 10px;
}
.colum2{
    width: 250px;
    height: 120px;
    background-color: #fff;
    border: 2px solid gray;
}
.colum3{
    width: 250px;
    height: 120px;
    background-color: #fff;
    border: 2px solid gray;
}
.colum4{
    width: 250px;
    height: 120px;
    background-color: #fff;
    border: 2px solid gray;
}
.corps{
    display: flex;
    justify-content: space-around;
    
}
.bloc{
    height: 20vh;
    margin-right: 70px;
}
.bloc2{
    height: 20vh;
    margin-right: 70px;
}
.king{
    margin-top: 20px;
    height: 45vh;
}
.titre2{
    width: 40%;
    margin-left: 550px;
    font-size: 50px;
    margin-top: 70px;
}
.texte2{
    width: 40%;
    margin-left: 400px;
    text-align: center;
}
.bouton1{
    width: 130px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #1A1A1A ;
    margin-top: 235px;
    position: absolute;
    left: 797px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bouton1:hover{
    transition: 0.5s;
    background-color: rgb(22, 22, 22);
    border: none;
}


/*Découvrez notre galerie d’hotels*/


.boss{
    height: 140vh;
    width: 100%;
}
.gradient{
    width: 200px;
    height: 110px;
    transform: rotate(-30deg);
    border-radius: 50px;
    opacity: .45;
    filter: blur(38px);
    background: rgb(255,248,90);
    background: radial-gradient(circle, rgb(90, 255, 255) 0%, rgba(0,194,255,1) 80%, rgba(255,2,169,0.9547991071428571) 100%);
}
.gradient2{
    width: 200px;
    height: 110px;
    transform: rotate(-30deg);
    border-radius: 30px;
    opacity: .45;
    filter: blur(38px);
    background: rgb(255,248,90);
    background: radial-gradient(circle, rgb(90, 255, 255) 0%, rgba(0,194,255,1) 80%, rgba(255,2,169,0.9547991071428571) 100%);
    margin-left: 40px;

}

.rectangle{
    display: flex;
    width: 70%;
    height: 20vh;
    justify-content: space-between;
    justify-content: space-around;
    margin-left: 200px;
    margin-top: 20px;
}


.regle1{
    width: 160px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;

}


/*la partie Que disent les clients ? avec le footer ensuite*/

.user{
    width: 100%;
    height: 100vh;
    background-color: #F6F5F1;
    margin-top: 90px;
}
.biguser{
    height: 80vh;
    width: 50%;
}
.right{
    height: 80vh;
    width: 50%;
}
.ecrit{
    width: 80%;
    
}
.genre{
    width: 20%;
    height: 15vh;
    justify-content: flex-end;
    justify-content: space-around;
    margin-left: 490px;
}
.genre1{
    height: 50px;
    width: 60px;
    background-color:#F6F5F1;
    border: 1px solid black;
}
.genre2{
    height: 50px;
    width: 60px;
    background-color: black;
    border: 1px solid black;
}





/*le footer pour terminer*/
.footer{
    width: 100%;
    height: 80vh;
    background-color: #F6F5F1;
}

.footerleft{
    width: 50%;
    height: 80vh;
    background-color: #1A1A1A;
}
.footerright{
    width: 50%;
    height: 80vh;

}
.iconer1{
    height: 60px;
    width: 60px;
    border: solid 2px white;
    border-radius: 50%;
    background-color: #1A1A1A;

}
.iconer1 img{
    margin-top: 7px;
    margin-left: 10px;
}
.iconer{
    margin-top: 100px;
    width: 40%;
    margin-left: 50px;
}
.iconer2{
    height: 60px;
    width: 60px;
    border: solid 2px white;
    border-radius: 50%;
    background-color: white;
}
.iconer2 img{
    margin-top: 9px;
    margin-left: 9px;
}
.iconer3{
    height: 60px;
    width: 60px;
    border: solid 2px white;
    border-radius: 50%;
}
.iconer3 img{
    margin-top: 6px;
    margin-left: 11px;
}
.phrase1{
    margin-top: 40px;
    width: 73%;
    margin-left: 60px;
    color: rgb(97, 93, 93);
}
.phrase{
    margin-top: 50px;
    width: 90%;
    margin-left: 60px;
    color:rgb(97, 93, 93);
} 


.lettre{
    
    margin-top: 70px;
    font-size: 20px;
    color: white;
}
.form1{
    width: 210px;
    height: 43px;
    background-color: white;
    color: rgb(59, 59, 59);
    margin-top: 30px;
    border: 1px solid black;
}
.form{
    width: 100%;
    height: 35vh;
    margin-top: 30px;
}


/*la fin du site*/

.fin{
    width: 100%;
    height: 50vh;
}



